.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin:auto;
  }
  
  .button:hover {
    background-color: #0056b3;

  }
  .home{
    display:flex;
    align-items:center;
    justify-content:center;
    height:400px;

  }